<!-- main home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Platform</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
   <div class="container">
      <div class="glass-card">
         <h2 class="glass-text">What's on your mind?</h2>
         <a href="http://localhost:1010/chats/new">
            <button>New chat</button>
         </a>
         <br>
      </div>
      </div>


      <div class="glass-heading">
         <h1 class="animate-heading">All Chats</h1>
      </div>
   </div>

      
        <div class="posts">
            <% for(let chat of chats) { %>
                <div class="post">
                    <div class="post-header">
                        <span><%= new Date(chat.created).toLocaleString() %></span>
                    </div>
                    <div class="post-content">
                        <p class="sender-info">From: <%= chat.from %> ➜</p>
                        <p class="message-content"><%= chat.msg %></p>
                        <p class="receiver-info">➜ To: <%= chat.to %></p>
                    </div>
                    <div class="post-actions">
                        <form method="get" action="/chats/<%= chat._id %>/edit">
                            <button>Edit Chat</button>
                        </form>
                        <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                            <button class="delete-btn">Delete Chat</button>
                        </form>
                    </div>
                </div>
                <hr>
            <% } %>
        </div>
    </div>
</body>
</html>